DATABASE_URL=postgres://zakupki:zakupki@localhost:5432/zakupki
BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
ADMIN_TELEGRAM_IDS=
NEXTAUTH_SECRET=
NEXT_PUBLIC_BOT_USERNAME=
BOT_USERNAME=
WEBAPP_URL=
WEBHOOK_SECRET=
